<section class="welcome-banner">
  <div class="banner-content">
    <h2>Hi! Welcome to</h2>
    <h1 class="glitch">
      <span class="primary">Yslid's</span> <span class="secondary">Corner</span>
    </h1>
    <h1 class="tagline">A curious mind navigating the chaos of tech</h1>
    <h3 class="description">
      This is my journey through cybersecurity, automation, networks, and all
      things tech. Sometimes, things don’t work on the first try (or the tenth),
      but that’s funny part I guess.
    </h3>
  </div>
  <div class="blob"></div>
</section>
