:root {
    --bg: #0c1e2d;        /* Azul marino oscuro */
    --bgSoft: #1c3a55;    /* Azul oscuro más claro */
    --text: #e5eff5;      /* Blanco azulado */
    --textSoft: #ccd7dc;  /* Gris azulado para texto secundario */

    /* Variables de anchura */
    --max-width-large: 1366px;
    --max-width-medium: 1280px;
    --max-width-tablet: 1024px;
    --max-width-mobile-large: 768px;
    --max-width-mobile: 640px;
    --max-width-mobile-small: 475px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: 'Lato', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ================ 
   📌 BREAKPOINTS 
   ================ */

/* 🖥 Pantallas grandes (1536px y menores) */
@media (max-width: 1536px) {
    .container {
        max-width: var(--max-width-large);
    }
}

/* 💻 Laptops (1366px y menores) */
@media (max-width: 1366px) {
    .container {
        max-width: var(--max-width-medium);
    }
}

/* 🖥 Laptops más pequeños (1280px y menores) */
@media (max-width: 1280px) {
    .container {
        max-width: 1080px;
        margin-left: 60px;
        margin-right: 60px;
    }
}

/* 📲 Tabletas (1024px y menores) */
@media (max-width: 1024px) {
    .container {
        max-width: var(--max-width-tablet);
        margin: 0;
    }
}

/* 📱 Celulares grandes (768px y menores) */
@media (max-width: 768px) {
    .container {
        max-width: var(--max-width-mobile-large);
    }
}

/* 📱 Celulares medianos (640px y menores) */
@media (max-width: 640px) {
    .container {
        max-width: var(--max-width-mobile);
    }
}

/* 📱 Celulares pequeños (475px y menores) */
@media (max-width: 475px) {
    .container {
        max-width: var(--max-width-mobile-small);
        padding: 0px;
        margin: 0 20px;
    }
}
